@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');


  header,
section {
  overflow-x: hidden;
 
}
section{
  padding-top: 7%;
  padding-bottom: 7%;
}
header {
    height: 60vh;
    background:#324eeb;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section{
    background:#536cfa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section-inner{
    background:black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .testimonialcaptionsleft{
    background-color: black;
    padding: 3%;
    opacity: 0.7;
    color: white;
  }
  .testimonialcaptionsright{
    background-color: black;
    padding: 3%;
    opacity: 0.7;
    color: white;
  }
  #footer{
    background-color: #23232b;
  }
  
  .footer-top-left{
    height:12rem;
    background-image: linear-gradient(to bottom right, #283949, #342b2d);
    color:white;
    padding-top:1.8rem;
  }
  .footer-top-right{
    padding:1.8rem;
    color:#eef0ef;
  }
    .dots{
    font-size: 2em;
    position:relative;
    bottom:2.5rem;
  }
  .bar{
    font-size:3em;
    color:white;
    position:absolute;
    top:-2.8rem;
    left:2rem;
  }
  .icon{
    font-size: 2em;
    color:white;
    position:absolute;
    top:-1rem; 
  }
  #copyright{
    background-color: black;
    text-align:center;
    color:grey;
  }
  @media screen and (min-width: 550px)
  {
    .testimonialcaptionsleft{
      background-color: black;
      padding: 3%;
      opacity: 0.7;
      color: white;
      position: relative;
      right: 10%;
    }
    .testimonialcaptionsright{
      background-color: black;
      padding: 3%;
      opacity: 0.7;
      color: white;
      position: relative;
      left: 10%;
      z-index: 1;
    }
  }
  