@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
  header,
section {
  overflow-x: hidden;
 
}
header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}
.navbar{
  font-size: 1.1rem;
}
.nav-link{
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.navbar-brand img{
  height: 4.5rem;
  width: 11rem;
}
.nav-item:hover .nav-link{
  background-color: gray;
  border-radius:  2px;
}
.dropdown:hover .dropdown-menu {   
  display: block;
  margin-top: 0; 
}
.dropdown-item{
  text-align: center !important;
  padding-bottom: 20px !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}
section{
  padding: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
    height: 60vh;
    background:#0278ae;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #padding{
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  section{
    background:#51adcf;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #sec1{
    background:#51adcf;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section-inner{
    background:black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .phonathon4_images{
    width: 70%;
    padding: 2%;

  }
  .testimonialheadingleft{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: right;
    padding-right: 6% ;
  }
  .testimonialheadingright{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: left;
    padding-left: 6%;
  }
  .testimonialcaptionsleft{
    background-color: black;
    padding: 3%;
    z-index: 1;
    color: white;
  }
  .testimonialcaptionsright{
    background-color: black;
    padding: 3%;
    z-index: 1;
    color: white;
  }
  .c1{
    text-align: right;
  }
  .c2{
    text-align: left;
  }
  #footer{
    background-color: #23232b;
  }
  
  .footer-top-left{
    height:12rem;
    background-image: linear-gradient(to bottom right, #283949, #342b2d);
    color:white;
    padding-top:1.8rem;
  }
  .footer-top-right{
    padding:1.8rem;
    color:#eef0ef;
  }
    .dots{
    font-size: 2em;
    position:relative;
    bottom:2.5rem;
  }
  .bar{
    font-size:3em;
    color:white;
    position:absolute;
    top:-2.8rem;
    left:2rem;
  }
  .icon{
    font-size: 2em;
    color:white;
    position:absolute;
    top:-1rem; 
  }
  #copyright{
    background-color: black;
    text-align:center;
    color:grey;
  }
  @media screen and (min-width: 550px)
  {
    .phonathon4_images{
      width: 100%;
      padding: 2%;
    }
    .testimonialcaptionsleft{
      background-color: black;
      padding: 3%;
      color: white;
      z-index: 1;

    }
    .testimonialcaptionsright{
      background-color: black;
      padding: 3%;
      color: white;
      z-index: 1;
    }
    .smallscreenvisible{
      display: none;
    }
  }
  @media screen and (max-width: 550px)
  {
    .bigscreenvisible{
      display: none;
    }
  }
  