@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');


  header,
section {
  overflow-x: hidden;
 
}
section{
  padding-top: 7%;
  padding-bottom: 7%;
}

header {
    height: 60vh;
    background:linear-gradient(blue,black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #header-inner{
      background:linear-gradient(blue,black);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section{
    background:black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #footer{
    background-color: #23232b;
  }
  
  .footer-top-left{
    height:12rem;
    background-image: linear-gradient(to bottom right, #283949, #342b2d);
    color:white;
    padding-top:1.8rem;
  }
  
  .footer-top-right{
    padding:1.8rem;
    color:#eef0ef;
  
  }
  
  .dots{
    font-size: 2em;
    position:relative;
    bottom:2.5rem;
  }
  
  .bar{
    font-size:3em;
    color:white;
    position:absolute;
    top:-2.8rem;
    left:2rem;
  
  
  }
  
  .icon{
    font-size: 2em;
    color:white;
    position:absolute;
    top:-1rem;
    
  }
  #copyright{
    background-color: black;
    text-align:center;
    color:grey;
  }
  